# Blast errors

Tekst

In [16]:
import pandas as pd

read_linting_results = pd.read_csv('data/blast_linting_results.csv')
read_review_test_results = pd.read_csv('data/blast_review_test_results.csv')
read_reviews = pd.read_csv('data/blast_reviews.csv')
data_tests = pd.read_csv('data/blast_tests.csv')
read_exercises = pd.read_csv('data/exercises.csv')

array(['ERROR', 'error', 'WARNING', 'warning', 'convention', 'refactor',
       'Error', 'WHITESPACE', 'dotnet', 'IDE1007', 'npm'], dtype=object)

#### Data Cleaning

In [19]:
data_linting_result= read_linting_results[['blast_review_id', 'file_name', 'message', 'type', 'line', 'column']]
data_linting_result = data_linting_result[data_linting_result['type'].str.lower().isin(['error'])]

data_review_test_results = read_review_test_results[['blast_review_id', 'test_id', 'human_error_message', 'test_language']]

data_reviews = read_reviews[['id', 'implementation_id', 'state', 'created_on']]

data_exercises = read_exercises[['id', 'title', 'files_to_turn_in']]

data_linting_result

,blast_review_id,file_name,message,type,line,column
0,48994f15-1b24-11ea-ab6c-cec41367f4e7,/wisselgeld.php,There must be a single space between the closi...,ERROR,13,18
1,902b5ef6-1b24-11ea-ab6c-cec41367f4e7,/tijd.php,There must be a single space between the closi...,ERROR,2,27
2,a210c4d7-1b24-11ea-ab6c-cec41367f4e7,/wisselgeld.php,There must be a single space between the closi...,ERROR,14,18
3,bc8d258f-1b2a-11ea-ab6c-cec41367f4e7,/cart.php,"Line indented incorrectly; expected 8 spaces, ...",ERROR,27,1
4,bc8d258f-1b2a-11ea-ab6c-cec41367f4e7,/cart.php,There must be a single space between the closi...,ERROR,27,29
...,...,...,...,...,...,...
1341110,018b13fb-9943-713d-af34-408ecb7d36bd,/piramide.php,Blank line found at start of control structure,ERROR,6,40
1341112,018b13fc-d76d-7bad-b1c0-ee4877a154ee,/piramide.php,Blank line found at start of control structure,ERROR,6,40
1341113,018b13fd-4df2-7761-94b4-bd22977d2f65,/calculator.php,Header blocks must be separated by a single bl...,ERROR,1,1
1341114,018b13fd-4df2-7761-94b4-bd22977d2f65,/tempCodeRunnerFile.php,Header blocks must be separated by a single bl...,ERROR,1,1
1341115,018b13fd-50d5-72d4-a1bf-dc333d106f3b,/sign_up.html,No “p” element in scope but a “p” end tag seen.,error,26,74